<h1> <%= titre %></h1>
<h2> <%= @sous_titre %> </h2>
<p>Je conçois ce site afin de découvrir le framework Ruby : Ruby on Rails. Durant mon apprentissage, j'utilise les tutoriels de <a href="http://railstutorial.org">ce site</a>.</p>
<p> <%= link_to "Inscription", signup_path, :class => "signup_button round" %> </p>

