<footer>
	<nav>
		<ul>
			<li> <%= link_to "Contact", contact_path %> </li>
			<li> <a href="http://french.railstutorial.org">Rails Tutorial</a> </li>
			<li> <a href="http://www.blogduwebdesign.com/">Blog du web design</a> </li>
		</ul>
	</nav>
</footer>


